<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.cyrl_lc_a</key>
	<array>
		<string>uni0430</string>
		<string>uni04D1</string>
		<string>uni04D3</string>
	</array>
	<key>public.kern1.cyrl_lc_de</key>
	<array>
		<string>uni0434</string>
		<string>uni0446</string>
		<string>uni0449</string>
		<string>uni04A3</string>
		<string>uni0525</string>
		<string>uni04B5</string>
		<string>uni04B7</string>
	</array>
	<key>public.kern1.cyrl_lc_en</key>
	<array>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni045D</string>
		<string>uni043B</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043F</string>
		<string>uni0447</string>
		<string>uni0448</string>
		<string>uni045F</string>
		<string>uni044B</string>
		<string>uni0456</string>
		<string>uni0457</string>
		<string>uni044F</string>
		<string>uni04B9</string>
		<string>uni04E3</string>
		<string>uni04E5</string>
		<string>uni04F5</string>
		<string>uni04F9</string>
		<string>uni0430.alt01</string>
		<string>uni04D1.alt01</string>
		<string>uni04D3.alt01</string>
	</array>
	<key>public.kern1.cyrl_lc_es</key>
	<array>
		<string>uni0441</string>
		<string>uni04AB</string>
	</array>
	<key>public.kern1.cyrl_lc_ge</key>
	<array>
		<string>uni0433</string>
		<string>uni0453</string>
		<string>uni0491</string>
		<string>uni04A5</string>
	</array>
	<key>public.kern1.cyrl_lc_ghehook</key>
	<array>
		<string>uni0495</string>
		<string>uni04A7</string>
	</array>
	<key>public.kern1.cyrl_lc_je</key>
	<array>
		<string>uni0435</string>
		<string>uni0450</string>
		<string>uni0451</string>
		<string>uni04BD</string>
		<string>uni04BF</string>
		<string>uni04D5</string>
		<string>uni04D7</string>
	</array>
	<key>public.kern1.cyrl_lc_ka</key>
	<array>
		<string>uni0436</string>
		<string>uni043A</string>
		<string>uni045C</string>
		<string>uni049D</string>
		<string>uni049F</string>
		<string>uni04A1</string>
		<string>uni04C2</string>
		<string>uni04DD</string>
	</array>
	<key>public.kern1.cyrl_lc_kadescender</key>
	<array>
		<string>uni0497</string>
		<string>uni049B</string>
	</array>
	<key>public.kern1.cyrl_lc_o</key>
	<array>
		<string>uni0431</string>
		<string>uni043E</string>
		<string>uni044D</string>
		<string>uni044E</string>
		<string>uni0473</string>
		<string>uni04D9</string>
		<string>uni04E7</string>
		<string>uni04E9</string>
	</array>
	<key>public.kern1.cyrl_lc_shha</key>
	<array>
		<string>uni045B</string>
		<string>uni04BB</string>
	</array>
	<key>public.kern1.cyrl_lc_softsign</key>
	<array>
		<string>uni044C</string>
		<string>uni044A</string>
		<string>uni0459</string>
		<string>uni045A</string>
		<string>uni0463</string>
	</array>
	<key>public.kern1.cyrl_lc_tedescend</key>
	<array>
		<string>uni04F7</string>
		<string>uni04AD</string>
	</array>
	<key>public.kern1.cyrl_lc_u</key>
	<array>
		<string>uni0443</string>
		<string>uni045E</string>
		<string>uni04EF</string>
		<string>uni04F1</string>
		<string>uni04F3</string>
	</array>
	<key>public.kern1.cyrl_lc_ve</key>
	<array>
		<string>uni0432</string>
		<string>uni0437</string>
		<string>uni0499</string>
		<string>uni04DF</string>
	</array>
	<key>public.kern1.cyrl_uc_A</key>
	<array>
		<string>uni0410</string>
		<string>uni04D0</string>
		<string>uni04D2</string>
	</array>
	<key>public.kern1.cyrl_uc_Cheabkhaz</key>
	<array>
		<string>uni04BC</string>
		<string>uni04BE</string>
	</array>
	<key>public.kern1.cyrl_uc_De</key>
	<array>
		<string>uni0414</string>
		<string>uni0426</string>
		<string>uni0429</string>
		<string>uni04A2</string>
		<string>uni0524</string>
		<string>uni04B4</string>
		<string>uni04B6</string>
	</array>
	<key>public.kern1.cyrl_uc_Es</key>
	<array>
		<string>uni0421</string>
		<string>uni04AA</string>
	</array>
	<key>public.kern1.cyrl_uc_Ge</key>
	<array>
		<string>uni0413</string>
		<string>uni0403</string>
		<string>uni0490</string>
		<string>uni04A4</string>
	</array>
	<key>public.kern1.cyrl_uc_Gehook</key>
	<array>
		<string>uni0494</string>
		<string>uni04A6</string>
	</array>
	<key>public.kern1.cyrl_uc_Ii</key>
	<array>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni04C0</string>
	</array>
	<key>public.kern1.cyrl_uc_Je</key>
	<array>
		<string>uni0415</string>
		<string>uni0400</string>
		<string>uni0401</string>
		<string>uni04D4</string>
		<string>uni04D6</string>
	</array>
	<key>public.kern1.cyrl_uc_Ka</key>
	<array>
		<string>uni0416</string>
		<string>uni041A</string>
		<string>uni040C</string>
		<string>uni049C</string>
		<string>uni049E</string>
		<string>uni04A0</string>
		<string>uni04C1</string>
		<string>uni04DC</string>
	</array>
	<key>public.kern1.cyrl_uc_Kadescender</key>
	<array>
		<string>uni0496</string>
		<string>uni049A</string>
	</array>
	<key>public.kern1.cyrl_uc_O</key>
	<array>
		<string>uni041E</string>
		<string>uni042D</string>
		<string>uni042E</string>
		<string>uni0472</string>
		<string>uni04D8</string>
		<string>uni04E6</string>
		<string>uni04E8</string>
	</array>
	<key>public.kern1.cyrl_uc_Softsign</key>
	<array>
		<string>uni042C</string>
		<string>uni042A</string>
		<string>uni0409</string>
		<string>uni040A</string>
		<string>uni0462</string>
	</array>
	<key>public.kern1.cyrl_uc_Tedescend</key>
	<array>
		<string>uni04F6</string>
		<string>uni04AC</string>
	</array>
	<key>public.kern1.cyrl_uc_Tshe</key>
	<array>
		<string>uni040B</string>
		<string>uni04BA</string>
	</array>
	<key>public.kern1.cyrl_uc_U</key>
	<array>
		<string>uni0423</string>
		<string>uni040E</string>
		<string>uni04EE</string>
		<string>uni04F0</string>
		<string>uni04F2</string>
	</array>
	<key>public.kern1.cyrl_uc_Ze</key>
	<array>
		<string>uni0417</string>
		<string>uni0498</string>
		<string>uni04DE</string>
	</array>
	<key>public.kern1.grek_lc_alpha</key>
	<array>
		<string>alpha</string>
		<string>alphatonos</string>
	</array>
	<key>public.kern1.grek_lc_epsilon</key>
	<array>
		<string>epsilon</string>
		<string>epsilontonos</string>
	</array>
	<key>public.kern1.grek_lc_eta</key>
	<array>
		<string>eta</string>
		<string>etatonos</string>
	</array>
	<key>public.kern1.grek_lc_iota</key>
	<array>
		<string>iota</string>
		<string>iotatonos</string>
		<string>iotadieresis</string>
		<string>iotadieresistonos</string>
	</array>
	<key>public.kern1.grek_lc_mu</key>
	<array>
		<string>uni03BC</string>
		<string>alpha.alt01</string>
		<string>alphatonos.alt01</string>
	</array>
	<key>public.kern1.grek_lc_nu</key>
	<array>
		<string>gamma</string>
		<string>nu</string>
	</array>
	<key>public.kern1.grek_lc_omega</key>
	<array>
		<string>omega</string>
		<string>omegatonos</string>
	</array>
	<key>public.kern1.grek_lc_omicron</key>
	<array>
		<string>omicron</string>
		<string>omicrontonos</string>
	</array>
	<key>public.kern1.grek_lc_upsilon</key>
	<array>
		<string>upsilon</string>
		<string>upsilontonos</string>
		<string>upsilondieresis</string>
		<string>upsilondieresistonos</string>
	</array>
	<key>public.kern1.grek_uc_Alpha</key>
	<array>
		<string>Alpha</string>
		<string>uni0394</string>
		<string>Lambda</string>
		<string>Alphatonos</string>
		<string>Delta</string>
	</array>
	<key>public.kern1.grek_uc_Epsilon</key>
	<array>
		<string>Epsilon</string>
		<string>Xi</string>
		<string>Epsilontonos</string>
	</array>
	<key>public.kern1.grek_uc_Iota</key>
	<array>
		<string>Iota</string>
		<string>Iotatonos</string>
		<string>Iotadieresis</string>
	</array>
	<key>public.kern1.grek_uc_Omega</key>
	<array>
		<string>uni03A9</string>
		<string>Omegatonos</string>
		<string>Omega</string>
	</array>
	<key>public.kern1.grek_uc_Omicron</key>
	<array>
		<string>Theta</string>
		<string>Omicron</string>
		<string>Omicrontonos</string>
	</array>
	<key>public.kern1.grek_uc_Upsilon</key>
	<array>
		<string>Upsilon</string>
		<string>Upsilontonos</string>
		<string>Upsilondieresis</string>
	</array>
	<key>public.kern1.latn_lc_a</key>
	<array>
		<string>a</string>
	</array>
	<key>public.kern1.latn_lc_b</key>
	<array>
		<string>p</string>
	</array>
	<key>public.kern1.latn_lc_c</key>
	<array>
		<string>c</string>
	</array>
	<key>public.kern1.latn_lc_e</key>
	<array>
		<string>ae</string>
		<string>e</string>
	</array>
	<key>public.kern1.latn_lc_i</key>
	<array>
		<string>i</string>
	</array>
	<key>public.kern1.latn_lc_j</key>
	<array>
		<string>dotlessi</string>
		<string>j</string>
	</array>
	<key>public.kern1.latn_lc_n</key>
	<array>
		<string>h</string>
		<string>hbar</string>
	</array>
	<key>public.kern1.latn_lc_o</key>
	<array>
		<string>schwa</string>
		<string>o</string>
	</array>
	<key>public.kern1.latn_lc_s</key>
	<array>
		<string>s</string>
	</array>
	<key>public.kern1.latn_lc_u</key>
	<array>
		<string>a.alt01</string>
	</array>
	<key>public.kern1.latn_lc_y</key>
	<array>
		<string>y</string>
	</array>
	<key>public.kern1.latn_uc_a</key>
	<array>
		<string>A</string>
	</array>
	<key>public.kern1.latn_uc_c</key>
	<array>
		<string>C</string>
	</array>
	<key>public.kern1.latn_uc_e</key>
	<array>
		<string>AE</string>
		<string>E</string>
	</array>
	<key>public.kern1.latn_uc_i</key>
	<array>
		<string>I</string>
	</array>
	<key>public.kern1.latn_uc_j</key>
	<array>
		<string>J</string>
	</array>
	<key>public.kern1.latn_uc_k</key>
	<array>
		<string>K</string>
	</array>
	<key>public.kern1.latn_uc_o</key>
	<array>
		<string>Schwa</string>
		<string>O</string>
	</array>
	<key>public.kern1.latn_uc_s</key>
	<array>
		<string>S</string>
	</array>
	<key>public.kern1.latn_uc_t</key>
	<array>
		<string>T</string>
	</array>
	<key>public.kern1.latn_uc_y</key>
	<array>
		<string>Y</string>
	</array>
	<key>public.kern1.latn_uc_z</key>
	<array>
		<string>Z</string>
	</array>
	<key>public.kern2.cyrl_lc_a</key>
	<array>
		<string>uni0430</string>
		<string>uni04D1</string>
		<string>uni04D3</string>
		<string>uni04D5</string>
	</array>
	<key>public.kern2.cyrl_lc_a.alt01</key>
	<array>
		<string>uni0430.alt01</string>
		<string>uni04D1.alt01</string>
		<string>uni04D3.alt01</string>
	</array>
	<key>public.kern2.cyrl_lc_che</key>
	<array>
		<string>uni0447</string>
		<string>uni04B7</string>
		<string>uni04B9</string>
		<string>uni04F5</string>
	</array>
	<key>public.kern2.cyrl_lc_cheabkhaz</key>
	<array>
		<string>uni04BD</string>
		<string>uni04BF</string>
	</array>
	<key>public.kern2.cyrl_lc_dje</key>
	<array>
		<string>uni045B</string>
		<string>uni0452</string>
		<string>uni049F</string>
	</array>
	<key>public.kern2.cyrl_lc_el</key>
	<array>
		<string>uni043B</string>
		<string>uni0459</string>
	</array>
	<key>public.kern2.cyrl_lc_en</key>
	<array>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0453</string>
		<string>uni0491</string>
		<string>uni04F7</string>
		<string>uni0495</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni045D</string>
		<string>uni043A</string>
		<string>uni045C</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043F</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni045F</string>
		<string>uni044C</string>
		<string>uni044B</string>
		<string>uni045A</string>
		<string>uni0456</string>
		<string>uni0457</string>
		<string>uni044E</string>
		<string>uni049B</string>
		<string>uni049D</string>
		<string>uni04A3</string>
		<string>uni04A5</string>
		<string>uni0525</string>
		<string>uni04E3</string>
		<string>uni04E5</string>
		<string>uni04F9</string>
	</array>
	<key>public.kern2.cyrl_lc_hardsign</key>
	<array>
		<string>uni044A</string>
		<string>uni04A1</string>
	</array>
	<key>public.kern2.cyrl_lc_kha</key>
	<array>
		<string>uni0445</string>
		<string>uni04B3</string>
	</array>
	<key>public.kern2.cyrl_lc_o</key>
	<array>
		<string>uni0435</string>
		<string>uni0450</string>
		<string>uni0451</string>
		<string>uni043E</string>
		<string>uni0441</string>
		<string>uni0454</string>
		<string>uni0473</string>
		<string>uni04A9</string>
		<string>uni04AB</string>
		<string>uni04D7</string>
		<string>uni04D9</string>
		<string>uni04E7</string>
		<string>uni04E9</string>
	</array>
	<key>public.kern2.cyrl_lc_te</key>
	<array>
		<string>uni0442</string>
		<string>uni04AD</string>
		<string>uni04B5</string>
	</array>
	<key>public.kern2.cyrl_lc_u</key>
	<array>
		<string>uni0443</string>
		<string>uni045E</string>
		<string>uni04EF</string>
		<string>uni04F1</string>
		<string>uni04F3</string>
	</array>
	<key>public.kern2.cyrl_lc_zecyrilic</key>
	<array>
		<string>uni0437</string>
		<string>uni0499</string>
		<string>uni04DF</string>
	</array>
	<key>public.kern2.cyrl_lc_zhe</key>
	<array>
		<string>uni0436</string>
		<string>uni0497</string>
		<string>uni04C2</string>
		<string>uni04DD</string>
	</array>
	<key>public.kern2.cyrl_uc_A</key>
	<array>
		<string>uni0410</string>
		<string>uni04D0</string>
		<string>uni04D2</string>
	</array>
	<key>public.kern2.cyrl_uc_Che</key>
	<array>
		<string>uni0427</string>
		<string>uni04B6</string>
		<string>uni04B8</string>
		<string>uni04F4</string>
	</array>
	<key>public.kern2.cyrl_uc_Cheabkhaz</key>
	<array>
		<string>uni04BC</string>
		<string>uni04BE</string>
	</array>
	<key>public.kern2.cyrl_uc_El</key>
	<array>
		<string>uni041B</string>
		<string>uni0409</string>
	</array>
	<key>public.kern2.cyrl_uc_Hardsign</key>
	<array>
		<string>uni042A</string>
		<string>uni04A0</string>
	</array>
	<key>public.kern2.cyrl_uc_Ii</key>
	<array>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni04C0</string>
	</array>
	<key>public.kern2.cyrl_uc_Kha</key>
	<array>
		<string>uni0425</string>
		<string>uni04B2</string>
	</array>
	<key>public.kern2.cyrl_uc_O</key>
	<array>
		<string>uni041E</string>
		<string>uni0421</string>
		<string>uni0404</string>
		<string>uni0472</string>
		<string>uni04A8</string>
		<string>uni04AA</string>
		<string>uni04D8</string>
		<string>uni04E6</string>
		<string>uni04E8</string>
	</array>
	<key>public.kern2.cyrl_uc_Te</key>
	<array>
		<string>uni0422</string>
		<string>uni040B</string>
		<string>uni0402</string>
		<string>uni04AC</string>
		<string>uni04B4</string>
	</array>
	<key>public.kern2.cyrl_uc_U</key>
	<array>
		<string>uni0423</string>
		<string>uni040E</string>
		<string>uni04EE</string>
		<string>uni04F0</string>
		<string>uni04F2</string>
	</array>
	<key>public.kern2.cyrl_uc_Ze</key>
	<array>
		<string>uni0417</string>
		<string>uni0498</string>
		<string>uni04DE</string>
	</array>
	<key>public.kern2.cyrl_uc_Zhe</key>
	<array>
		<string>uni0416</string>
		<string>uni0496</string>
		<string>uni04C1</string>
		<string>uni04DC</string>
	</array>
	<key>public.kern2.grek_lc_alpha</key>
	<array>
		<string>alpha</string>
		<string>alphatonos</string>
		<string>alpha.alt01</string>
		<string>alphatonos.alt01</string>
	</array>
	<key>public.kern2.grek_lc_epsilon</key>
	<array>
		<string>epsilon</string>
		<string>epsilontonos</string>
	</array>
	<key>public.kern2.grek_lc_eta</key>
	<array>
		<string>eta</string>
		<string>etatonos</string>
	</array>
	<key>public.kern2.grek_lc_iota</key>
	<array>
		<string>iota</string>
		<string>iotatonos</string>
		<string>iotadieresis</string>
		<string>iotadieresistonos</string>
	</array>
	<key>public.kern2.grek_lc_kappa</key>
	<array>
		<string>kappa</string>
		<string>uni03BC</string>
	</array>
	<key>public.kern2.grek_lc_nu</key>
	<array>
		<string>gamma</string>
		<string>nu</string>
	</array>
	<key>public.kern2.grek_lc_omega</key>
	<array>
		<string>omega</string>
		<string>omegatonos</string>
	</array>
	<key>public.kern2.grek_lc_omicron</key>
	<array>
		<string>omicron</string>
		<string>sigma</string>
		<string>omicrontonos</string>
	</array>
	<key>public.kern2.grek_lc_upsilon</key>
	<array>
		<string>upsilon</string>
		<string>upsilontonos</string>
		<string>upsilondieresis</string>
		<string>upsilondieresistonos</string>
	</array>
	<key>public.kern2.grek_uc_Alpha</key>
	<array>
		<string>Alpha</string>
		<string>uni0394</string>
		<string>Lambda</string>
		<string>Delta</string>
	</array>
	<key>public.kern2.grek_uc_Etatonos</key>
	<array>
		<string>Epsilontonos</string>
		<string>Etatonos</string>
	</array>
	<key>public.kern2.grek_uc_Iota</key>
	<array>
		<string>Iota</string>
		<string>Iotadieresis</string>
	</array>
	<key>public.kern2.grek_uc_Omega</key>
	<array>
		<string>uni03A9</string>
		<string>Omega</string>
	</array>
	<key>public.kern2.grek_uc_Omicron</key>
	<array>
		<string>Theta</string>
		<string>Omicron</string>
	</array>
	<key>public.kern2.grek_uc_Upsilon</key>
	<array>
		<string>Upsilon</string>
		<string>Upsilondieresis</string>
	</array>
	<key>public.kern2.latn_lc_a</key>
	<array>
		<string>a</string>
		<string>ae</string>
	</array>
	<key>public.kern2.latn_lc_c</key>
	<array>
		<string>c</string>
		<string>e</string>
		<string>schwa</string>
		<string>o</string>
	</array>
	<key>public.kern2.latn_lc_d</key>
	<array>
		<string>a.alt01</string>
	</array>
	<key>public.kern2.latn_lc_h</key>
	<array>
		<string>h</string>
		<string>hbar</string>
	</array>
	<key>public.kern2.latn_lc_i</key>
	<array>
		<string>i</string>
	</array>
	<key>public.kern2.latn_lc_j</key>
	<array>
		<string>j</string>
	</array>
	<key>public.kern2.latn_lc_n</key>
	<array>
		<string>dotlessi</string>
	</array>
	<key>public.kern2.latn_lc_s</key>
	<array>
		<string>s</string>
	</array>
	<key>public.kern2.latn_lc_y</key>
	<array>
		<string>y</string>
	</array>
	<key>public.kern2.latn_uc_a</key>
	<array>
		<string>A</string>
		<string>AE</string>
	</array>
	<key>public.kern2.latn_uc_i</key>
	<array>
		<string>I</string>
	</array>
	<key>public.kern2.latn_uc_j</key>
	<array>
		<string>J</string>
	</array>
	<key>public.kern2.latn_uc_o</key>
	<array>
		<string>C</string>
		<string>Schwa</string>
		<string>O</string>
	</array>
	<key>public.kern2.latn_uc_s</key>
	<array>
		<string>S</string>
	</array>
	<key>public.kern2.latn_uc_t</key>
	<array>
		<string>T</string>
	</array>
	<key>public.kern2.latn_uc_y</key>
	<array>
		<string>Y</string>
	</array>
	<key>public.kern2.latn_uc_z</key>
	<array>
		<string>Z</string>
	</array>
</dict>
</plist>
