<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<string>B_.glif</string>
	<key>delta</key>
	<string>delta.glif</string>
	<key>uni042F</key>
	<string>uni042F_.glif</string>
	<key>uni0472</key>
	<string>uni0472.glif</string>
	<key>uni04BE</key>
	<string>uni04B_E_.glif</string>
	<key>uni04E0</key>
	<string>uni04E_0.glif</string>
	<key>uni04E1</key>
	<string>uni04E_1.glif</string>
</dict>
</plist>
