<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>Use Typo Metrics</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMaster.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>Alignment Zones</string>
			<key>value</key>
			<array>
				<dict>
					<key>pos</key>
					<real>369.0</real>
					<key>size</key>
					<real>6.0</real>
				</dict>
				<dict>
					<key>pos</key>
					<real>740.0</real>
					<key>size</key>
					<real>12.0</real>
				</dict>
				<dict>
					<key>pos</key>
					<real>-200.0</real>
					<key>size</key>
					<real>-12.0</real>
				</dict>
				<dict>
					<key>pos</key>
					<real>329.0</real>
					<key>size</key>
					<real>-6.0</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Preview Ascender</string>
			<key>value</key>
			<integer>1025</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Preview Descender</string>
			<key>value</key>
			<integer>-275</integer>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>master03</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>148</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>100</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>E</string>
		<string>Schwa</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>S</string>
		<string>T</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>ae</string>
		<string>c</string>
		<string>e</string>
		<string>schwa</string>
		<string>h</string>
		<string>hbar</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>j</string>
		<string>o</string>
		<string>p</string>
		<string>s</string>
		<string>x</string>
		<string>y</string>
		<string>a.alt01</string>
		<string>uni0410</string>
		<string>uni0411</string>
		<string>uni0412</string>
		<string>uni0413</string>
		<string>uni0403</string>
		<string>uni0490</string>
		<string>uni04F6</string>
		<string>uni0492</string>
		<string>uni0494</string>
		<string>uni0414</string>
		<string>uni0415</string>
		<string>uni0400</string>
		<string>uni0401</string>
		<string>uni0416</string>
		<string>uni0417</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni040D</string>
		<string>uni041A</string>
		<string>uni040C</string>
		<string>uni041B</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041E</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni0421</string>
		<string>uni0422</string>
		<string>uni0423</string>
		<string>uni040E</string>
		<string>uni0424</string>
		<string>uni0425</string>
		<string>uni0427</string>
		<string>uni0426</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni040F</string>
		<string>uni042C</string>
		<string>uni042B</string>
		<string>uni042A</string>
		<string>uni0409</string>
		<string>uni040A</string>
		<string>uni0405</string>
		<string>uni0404</string>
		<string>uni042D</string>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni0408</string>
		<string>uni040B</string>
		<string>uni042E</string>
		<string>uni042F</string>
		<string>uni0402</string>
		<string>uni0462</string>
		<string>uni0472</string>
		<string>uni0474</string>
		<string>uni0496</string>
		<string>uni0498</string>
		<string>uni049A</string>
		<string>uni049C</string>
		<string>uni049E</string>
		<string>uni04A0</string>
		<string>uni04A2</string>
		<string>uni04A4</string>
		<string>uni04A6</string>
		<string>uni0524</string>
		<string>uni04A8</string>
		<string>uni04AA</string>
		<string>uni04AC</string>
		<string>uni04AE</string>
		<string>uni04B0</string>
		<string>uni04B2</string>
		<string>uni04B4</string>
		<string>uni04B6</string>
		<string>uni04B8</string>
		<string>uni04BA</string>
		<string>uni04BC</string>
		<string>uni04BE</string>
		<string>uni04C0</string>
		<string>uni04C1</string>
		<string>uni04D0</string>
		<string>uni04D2</string>
		<string>uni04D4</string>
		<string>uni04D6</string>
		<string>uni04D8</string>
		<string>uni04DC</string>
		<string>uni04DE</string>
		<string>uni04E0</string>
		<string>uni04E2</string>
		<string>uni04E4</string>
		<string>uni04E6</string>
		<string>uni04E8</string>
		<string>uni04EE</string>
		<string>uni04F0</string>
		<string>uni04F2</string>
		<string>uni04F4</string>
		<string>uni04F8</string>
		<string>uni0430</string>
		<string>uni0431</string>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0453</string>
		<string>uni0491</string>
		<string>uni04F7</string>
		<string>uni0493</string>
		<string>uni0495</string>
		<string>uni0434</string>
		<string>uni0435</string>
		<string>uni0450</string>
		<string>uni0451</string>
		<string>uni0436</string>
		<string>uni0437</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni045D</string>
		<string>uni043A</string>
		<string>uni045C</string>
		<string>uni043B</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043E</string>
		<string>uni043F</string>
		<string>uni0440</string>
		<string>uni0441</string>
		<string>uni0442</string>
		<string>uni0443</string>
		<string>uni045E</string>
		<string>uni0444</string>
		<string>uni0445</string>
		<string>uni0447</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni045F</string>
		<string>uni044C</string>
		<string>uni044B</string>
		<string>uni044A</string>
		<string>uni0459</string>
		<string>uni045A</string>
		<string>uni0455</string>
		<string>uni0454</string>
		<string>uni044D</string>
		<string>uni0456</string>
		<string>uni0457</string>
		<string>uni0458</string>
		<string>uni045B</string>
		<string>uni044E</string>
		<string>uni044F</string>
		<string>uni0452</string>
		<string>uni0463</string>
		<string>uni0473</string>
		<string>uni0475</string>
		<string>uni0497</string>
		<string>uni0499</string>
		<string>uni049B</string>
		<string>uni049D</string>
		<string>uni049F</string>
		<string>uni04A1</string>
		<string>uni04A3</string>
		<string>uni04A5</string>
		<string>uni0525</string>
		<string>uni04A7</string>
		<string>uni04A9</string>
		<string>uni04AB</string>
		<string>uni04AD</string>
		<string>uni04AF</string>
		<string>uni04B1</string>
		<string>uni04B3</string>
		<string>uni04B5</string>
		<string>uni04B7</string>
		<string>uni04B9</string>
		<string>uni04BB</string>
		<string>uni04BD</string>
		<string>uni04BF</string>
		<string>uni04CF</string>
		<string>uni04C2</string>
		<string>uni04D1</string>
		<string>uni04D3</string>
		<string>uni04D5</string>
		<string>uni04D7</string>
		<string>uni04D9</string>
		<string>uni04DD</string>
		<string>uni04DF</string>
		<string>uni04E1</string>
		<string>uni04E3</string>
		<string>uni04E5</string>
		<string>uni04E7</string>
		<string>uni04E9</string>
		<string>uni04EF</string>
		<string>uni04F1</string>
		<string>uni04F3</string>
		<string>uni04F5</string>
		<string>uni04F9</string>
		<string>uni0430.alt01</string>
		<string>uni04D1.alt01</string>
		<string>uni04D3.alt01</string>
		<string>Alpha</string>
		<string>Beta</string>
		<string>Gamma</string>
		<string>uni0394</string>
		<string>Epsilon</string>
		<string>Zeta</string>
		<string>Eta</string>
		<string>Theta</string>
		<string>Iota</string>
		<string>Kappa</string>
		<string>Lambda</string>
		<string>Mu</string>
		<string>Nu</string>
		<string>Xi</string>
		<string>Omicron</string>
		<string>Pi</string>
		<string>Rho</string>
		<string>Sigma</string>
		<string>Tau</string>
		<string>Upsilon</string>
		<string>Phi</string>
		<string>Chi</string>
		<string>Psi</string>
		<string>uni03A9</string>
		<string>Alphatonos</string>
		<string>Epsilontonos</string>
		<string>Etatonos</string>
		<string>Iotatonos</string>
		<string>Omicrontonos</string>
		<string>Upsilontonos</string>
		<string>Omegatonos</string>
		<string>Iotadieresis</string>
		<string>Upsilondieresis</string>
		<string>alpha</string>
		<string>beta</string>
		<string>gamma</string>
		<string>delta</string>
		<string>epsilon</string>
		<string>zeta</string>
		<string>eta</string>
		<string>theta</string>
		<string>iota</string>
		<string>kappa</string>
		<string>lambda</string>
		<string>uni03BC</string>
		<string>nu</string>
		<string>xi</string>
		<string>omicron</string>
		<string>pi</string>
		<string>rho</string>
		<string>sigma1</string>
		<string>sigma</string>
		<string>tau</string>
		<string>upsilon</string>
		<string>phi</string>
		<string>chi</string>
		<string>psi</string>
		<string>omega</string>
		<string>iotatonos</string>
		<string>iotadieresis</string>
		<string>iotadieresistonos</string>
		<string>upsilontonos</string>
		<string>upsilondieresis</string>
		<string>upsilondieresistonos</string>
		<string>omicrontonos</string>
		<string>omegatonos</string>
		<string>alphatonos</string>
		<string>epsilontonos</string>
		<string>etatonos</string>
		<string>alpha.alt01</string>
		<string>alphatonos.alt01</string>
		<string>Omega</string>
		<string>Delta</string>
		<string>tonos</string>
		<string>tonos.case</string>
		<string>dieresistonos</string>
		<string>dieresis</string>
		<string>grave</string>
		<string>acute</string>
		<string>hungarumlaut</string>
		<string>breve.cyrl_case</string>
		<string>macron</string>
		<string>dieresis.case</string>
		<string>grave.case</string>
		<string>acute.case</string>
		<string>hungarumlaut.case</string>
		<string>macron.case</string>
		<string>breve.cyrl</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>Delta</key>
		<string>uni2206</string>
		<key>Omega</key>
		<string>uni2126</string>
		<key>Schwa</key>
		<string>uni018F</string>
		<key>breve.cyrl_case</key>
		<string>breve_case.cyrl_</string>
		<key>schwa</key>
		<string>uni0259</string>
		<key>sigma1</key>
		<string>uni03C2</string>
	</dict>
</dict>
</plist>
